@import "bootstrap.less";
@page_width: 810px;

.container {
    margin:0 auto;
    position:relative;
    width: @page_width;

    .noes{
        background: url(../img/hazte-fan.jpg) no-repeat center top #ffffff;
        width: @page_width;
        height: 900px;
        position: relative;
    }

    form{
        .alert-error{
            display: none;
        }
        .bases_concurso{
            text-align: left;

            input[type="checkbox"]{
                vertical-align: top;
                border: 1px solid rgb(102, 0, 102);
                height: auto !important;
                width: auto ! important;
                float: left;
            }

            a{
                text-decoration: underline;
            }
        }
    }
}